body,
html {
    margin: 0;
    padding: 0;
}

.groups {
    margin: 0 auto;
    padding: 0;
}

@media (max-width: 1430px) {
    .group {
        width: 1120px;
    }
}

@media (max-width: 1160px) {
    .group {
        width: 850px;
    }
}

@media (max-width: 890px) {
    .group {
        width: 580px;
    }
}

@media (max-width: 620px) {
    .group {
        width: 270px;
    }
}

.group {
    border-bottom: 1px solid #dedede;
    line-height: 0px;
    margin: 0 auto;
}

.group h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.applications {
    width: 100%;

    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
    outline: none;
    border: 1px solid rgba(0, 120, 215, 0.6);
    background: left top / cover no-repeat fixed;
}

.application {
    display: inline-block;
    position: relative;
    line-height: 0px;
    padding: 10px;
    width: 250px;
    height: 90px;
}

.application h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    left: 4px;
}

.application img {
    width: 80px;
    height: 80px;
}

.application .left {
    display: inline-block;
    padding: 5px;
    width: 80px;
    height: 80px;
}

.application .right {
    display: inline-block;
    padding: 10px;
    position: absolute;
    top: 0;
    width: calc(100% - 125px);
    height: 100%;
}

.application .text {
    width: 100%;
}

.application .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.application .slider:hover {
    opacity: 1;
}

.application .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 6px;
    height: 30px;
    border-radius: 2px;
    background: #5491f2;
    cursor: pointer;
}

.application .slider::-moz-range-thumb {
    width: 6px;
    height: 30px;
    background: #5491f2;
    cursor: pointer;
}

.application .dropdown {
    position: absolute;
    right: 10px;
    top: 20px;
    display: inline-block;
}

.application .dropdown img {
    width: 20px;
    height: 20px;
}

.application .dropdown-content {
    position: absolute;
    top: 0px;
    right: 0;
    display: none;
    visibility: none;
    background-color: rgba(30, 30, 30, 0.9);
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 2px;
    z-index: 1;
    text-align: center;
    height: 60px;
}

.application .dropdown-content img {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
}

.application .dropdown-content .button {
    position: relative;
    top: 20px;
}

input[type=button] {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    color: #fff;
    outline: none;
    padding: 4px 16px;
    transition: all .25s;
    border: 2px solid transparent;
    background: rgba(255, 255, 255, 0.4);
    margin: 4px;
}

input[type=button]:hover {
    border: 2px solid rgba(255, 255, 255, 0.6);
}

input[type=button]:active {
    background: rgba(255, 255, 255, 0.4);
}

input[type=text] {
    line-height: 32px;
    height: 32px;
    padding: 0 8px;
    font-size: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #000;
    background: #fff;
    box-shadow: inset 0px 0px 0 2px #0078D7;
    border: none;
    transition: all .25s;
    margin: 10px 0;
    outline: none;
}

input[type=text]:hover {
    line-height: 32px;
    height: 32px;
    padding: 0 8px;
    font-size: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    background: none;
    box-shadow: inset 0px 0px 0 2px rgba(255, 255, 255, 0.6);
    border: none;
    transition: all .25s;
    margin: 10px 0;
    outline: none;
}

input[type=text]:active {
    line-height: 32px;
    height: 32px;
    padding: 0 8px;
    font-size: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    background: none;
    box-shadow: inset 0px 0px 0 2px rgba(255, 255, 255, 0.2);
    border: none;
    transition: all .25s;
    margin: 10px 0;
    outline: none;
}

.application .dropdown:hover .dropdown-content {
    display: block;
    visibility: visible;
}